html
    style
        include ./styles.css
    head
        title #{title}
        h1(class="header") #{type}
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    hr
    include ./navbar