html
    head
        title #{title}
        h1 #{type}
        style
            include ./styles.css
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    hr
    include ./navbar