html
    header
            nav
                ul
                    li
                        a(href="/") Home
                    li 
                        a(href="/about") About
                    li
                        a(href="/contact") Contact
                    li
                        a(href="/login") Login
                hr