html

    style
        include ./styles.css
    header
        nav
            div(class="navbar")
                a(href="/" class="navbarlink") Home
                a(href="/about" class="navbarlink") About
                a(href="/contact" class="navbarlink") Contact
                a(href="/login" class="navbarlink") Login
        hr