extends ./layout.jade

block content
    .container(style="padding-bottom:100px;")
        if (posts)
            each post in posts 
                .container.col-lg-12
                    h3.text-left #{post.title}
                    h5.text-right #{post.author}
                    hr
                    .container.row.col-lg-12(style="word-wrap:break-word;")
                        p !{post.text}
        else 
            p "No Posts To Show"