extends ./layout.jade

block content
    .container
        if (posts)
            each post in posts 
                .container
                    h3 #{post.title}
                    h5.text-right #{post.author}
                    hr
                    p #{post.text}
        else 
            p "No Posts To Show"