html 
    include ./includes/head.jade
    body
        include ./includes/nav.jade
        p Contact Steve At:
        ul
            li
                #{email}
            li 
                #{number}
    