html
    head
        include ./includes/head.jade 
        script(src='/socket.io/socket.io.js')
        script var socket = io();
    body
        include ./includes/nav.jade
        p.
            This is a test. This is a test. <br />
            This is a test. This is a test.
            This is a test. This is a test.
            This is a test. This is a test. 
            This is a test. This is a test.
        
    