extends ./layout.jade
    
block content
    script(src='/socket.io/socket.io.js')
    script var socket = io();
    .container
        p.
            This is a test. This is a test. <br/>
            This is a test. This is a test. <br/>
            This is a test. This is a test. <br/>
            This is a test. This is a test. <br/>
            This is a test. This is a test. <br/>