extends ./layout.jade

block content
    .container
        form.form-horizontal(id="loginform" action="/login" method="POST")
            h2.form-signin-heading Please Sign In    
            input.form-control(type="email" placeholder='Email Address' id="username", name="username", required)
            br
            input.form-control(type='password', id="password", placeholder='Password' name="password" required)
            br
            input.btn.btn-lg.btn-primary.btn-block(type="submit" id="submit" value="Submit")
            a(href="/signup" class="navbarlink") Not A Member?