extends ./layout.jade

block content
    .container.centered
        form.form-horizontal(id="newBlogForm" action="/newblog" method="POST")
            .form-group
                br
                input.form-control(type="text" id="blogTitle" name="blogTitle" placeholder="Blog Title" required)
                br
                textarea.form-control(id="blogText" name="blogText" cols="250" rows="30", placeholder="Blog Body" style="resize:none;" required)
                br
                input.form-control.btn.btn-primary(type="submit" name="newblogsubmit" value="Post")
                
    script(language="javascript" type="text/javascript").
        $(document).ready(function() {
            $('#blogText').keydown(function(event) {
                var code = event.keyCode || event.which;
                if(code == 13) {
                    var txt = $('#blogText').val();
                    txt += "<br >";
                    $('#blogText').val(txt);
                }
            });
        });
                