extends ./layout.jade

block content
    .container
        form.form-horizontal(id="loginform" action="/sign_up" method="POST")
            h2.form-signup-heading Please Fill The Form Below
            input.form-control(type="email" placeholder='Email Address' id="username", name="username", required)
            br
            input.form-control(type="password" id="password" name="password" placeholder="Password" required)
            br
            input.form-control(type="password" id="password" name="password-confirm" placeholder="Confirm Password" required)
            br
            input.btn.btn-lg.btn-primary.btn-block(type="submit" id="submit" value="Sign Up")
            